.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.cancel-button, .submit-button {
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-button {
  background-color: #ccc;
}

.submit-button {
  background-color: var(--primary-color);
  color: white;
}
