/* Basstyling för komponenten */
.exclusiveExperiences {
  padding: 4rem 2rem;
 
  margin-top: 200px;
}

.title {
  font-size: 2.8rem;
  color:#333;
  margin-bottom: 3rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

/* Sektionens layout och animation */
.section {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
  opacity: 0;
  transform: translateY(20px);
  margin-top: 100px;
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.section:nth-child(even) {
  flex-direction: row-reverse;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Video Container */
.videoContainer {
  flex: 1;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.video {
  width: 150%;
  height: 100%;
  object-fit: cover;
}

/* Innehållsstyling */
.content {
  flex: 1;
}

.name {
  font-size: 1.8rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  font-weight: bold;
}

.description,
.price {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: var(--text-color);
}

.price {
  font-weight: bold;
  color: var(--accent-color);
}

.contactButton {
  padding: 0.7rem 1.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: var(--secondary-color);
}

/* Responsiv styling */
@media (max-width: 768px) {
  .section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }

  .videoContainer {
    height: 250px;
  }

  .title {
    font-size: 2.2rem;
  }

  .name {
    font-size: 1.6rem;
  }

  .description {
    font-size: 1rem;
  }
}
